<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome</title>
	<link rel="stylesheet" href="..\static\begend.css">
</head>
<body >
	<div class="outer">
      <div class="middle">
        <div class="inner">
        	<font color="White" face="Segoe UI" size="4">
        		<h1>Welcome to the beginning of The End.</h1>
        	</font>
        	<form action="eighth">
        		<button type="submit" class="button">Noo.. Please take me back</button><br><br>
        	</form>
        	<form action="actualend">
        		<button type="submit" class="button">Yeah Ok I'm Done</button>
        	</form>
        </div>
      </div>
    </div>
</body>
</html>