<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="..\static\useall.css">
    <title>Seventh Question</title>
  </head>
  <body>
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <p align="center"><font face="Segoe UI" color="White"><7></font></p>
          <form action=""  method="post" id="form">
              <input type="text" class="textb" name=input placeholder="Input"><br>
                <button type="submit" class="button">Get Output</button><br>
          </form>
          <div class="outputbox">
            <p style="font-size:25px"><font color="White" face="Segoe UI"><strong>OUTPUT= </strong>{{ input }}</p></font>
          </div>
          <div class="buttons" align="center">
            <p>
              <a href="sixth"><img src="..\static\backfinal.png" width="100" height="100"></a>
              <a href="eighth"><img src="..\static\nextfinal.png" width="100" height="100"></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
